aside {
    width: 20vw;
    padding: 1em;
    position: relative;
    box-sizing: border-box;
}

#map {
    width: 80vw;
    height: 100vh;
}

#searchBar {
    position: relative;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 .5rem #999;
}

#searchBar input {
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0.75rem;
    background: transparent;
}

#searchBar input::-webkit-calendar-picker-indicator {
    display: none;
}

#searchBar button {
    right: 0;
    position: absolute;
    opacity: 0.7;
    height: 100%;
    border: none;
    cursor: pointer;
    background: none;
}

#info {
    left: 0;
    bottom: 1em;
    position: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    width: inherit;
    list-style: none;
    justify-content: space-around;
}

#info li {
    padding: 0;
}

#filters {
    margin: 1em 0;
}

#filters div {
    display: flex;
    justify-content: space-between;
}

#filters input,
#filters span {
    width: 40%;
}

#filters input {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5em;
    margin: 0.25em 0;
}

#scale {
	position: absolute;
	margin: 0 1rem;
	right: 1rem;
	top: 10vh;
	
	width: 1rem;
	height: 80vh;
	border-radius: 0.25rem;
	background: rgb(255,0,0);
	background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(243,255,0,1) 33%, rgba(0,255,31,0.6600841020001751) 66%, rgba(0,93,255,0.33235300956320024) 100%);
}

#scale::before, #scale::after {
	position: absolute;
	right: -1.5rem;

	width: 4rem;
	text-align: center;
}

#scale::before {
	content: "30dB";
	bottom: -1.5rem;
}

#scale::after {
	content: "100dB";
	top: -1.5rem;
}